dew_dc/Bert Structure.txt
dew_dc/dew_dc_indiv_papers/2020_Estimating An Optimal Macroeconomic Uncertainty Index For Australia.rdf
dew_dc/dew_dc_indiv_papers/2020_A Covid-19 Teaching Example - Pooled Testing with Microsoft Excel.rdf
dew_dc/dew_dc_indiv_papers/2018_Entrepreneurial Discovery Capital.rdf
dew_dc/dew_dc_indiv_papers/2018_Cuban Demography And Economic Consequences.rdf
dew_dc/dew_dc_indiv_papers/2018_Accessing IRS Form 990 Data with Excel.rdf
dew_dc/dew_dc_indiv_papers/2017_The Role of Distance in College Undermatching.rdf
dew_dc/dew_dc_indiv_papers/2017_Teaching Piketty To Undergraduates.rdf
dew_dc/dew_dc_indiv_papers/2017_Let’s Put Demography Back into Economics - Population Pyramids in Excel.rdf
dew_dc/dew_dc_indiv_papers/2016_Longer Classes Versus More Frequent Classes - Which Wins - Evidence from a Liberal Arts College.rdf
dew_dc/dew_dc_indiv_papers/2016_Does the Early Bird Catch the Worm or a Lower GPA - Evidence from a Liberal Arts College
dew_dc/dew_dc_indiv_papers/2014_A Student’s Dilemma - Is There a Trade-Off Between a Higher Salary or Higher GPA.rdf
dew_dc/dew_dc_indiv_papers/2013_Understanding and Teaching Within-Cluster Correlation in Complex Surveys.rdf
dew_dc/dew_dc_indiv_papers/2013_Macro Data with the FRED Excel Add-in.rdf
dew_dc/dew_dc_indiv_papers/2011_Understanding and Teaching Unequal Probability of Selection.rdf
dew_dc/dew_dc_indiv_papers/2022_Teaching Income Inequality with Data-driven Visualization.rdf
dew_dc/dew_dc_indiv_papers/2022_Project Cash-flow Risk Resolution and Project Value.rdf
dew_dc/dew_dc_indiv_papers/2022_One-shot Inequality, Gini, and Redistribution via Microsoft Excel.rdf
dew_dc/dew_dc_indiv_papers/2021_Using Excel to Teach Principles of Microeconomics.rdf
dew_dc/dew_dc_indiv_papers/2021_The Impact of Place-Based Policy - Evidence from a Multiple Synthetic Control Analysis of the Northeastern Revitalization Program in China.rdf
dew_dc/dew_dc_indiv_papers/2021_Postbellum Electoral Politics in California and the Genesis of the Chinese Exclusion Act of 1882.rdf
dew_dc/dew_dc_indiv_papers/2020_Visualizing Income Distribution in the United States.rdf
